html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins";
	margin: 0;
	padding: 0;
	background: #07080a;
	color: #FFFFFF;
  transition: all 0.5s ease-out;
}

p {
	font-size: 20px;
}

li {
	list-style: none;
	margin-right: 25px
}

#sobre-mi img {
    width: 300px!important;
    height: 300px!important;
    object-fit: cover;
    border-radius: 50%;
}

#primero {
	font-size: 30px;
}

.menu-fixed {
	max-width: 1280px;
	width: 90%;
	top: 0;
	position: fixed;
	margin: auto;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lista {
	display: flex;
}
.menu .lista a:hover, .menu .lista a:focus, .menu .lista a:active {
  color: #7bbaff;
}

a {
	text-decoration: none;
	color: black;
}

.titular {
	text-align: center;
	padding-top: 200px
}

h1 {
	font-size: 60px;
	margin: 0;
}

h2 {
	font-size: 25px;
	margin-bottom: 40px;
}

a {
	color: #fff;
}

.btn {
	font-size: 14px;
	padding: 20px 30px 20px 30px;
	text-shadow: none;
	margin: 0 10px;
	border-radius: 5px;
  transition: all 0.5s ease-out;
}

.btn-primary {
	background: #1c126c;
  margin-left: 0;
  border: 1px solid #1c126c;
}
.btn-primary:hover {
  background: #0c0358;
  border: 1px solid #0c0358;
}
.btn-secondary {
	border: 1px solid #fff;
  margin-right: 0;
}
.btn-secondary:hover{
  background: #107aed;
  border: 1px solid #107aed;
}

header {
	background: url(fondo.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	color: #fff;
	text-shadow: 1px 1px 7px rgb(0 0 0 / 56%);
}

.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

.section {
	padding: 80px 0px;
}


/* ARRANCA SECCION SOBRE MI */

h3 {
	text-align: center;
	font-size: 55px;
	font-weight: normal;
}

.contenedor-sobremi {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contendor-parrafo-y-boton {
	width: 42%;
}

.contenedor-parrafo-y-boton p {
	font-size: 18px;
	margin-bottom: 30px;
}

.parrafo-final {
	margin-bottom: 30px;
}

.contenedor-servicios {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.servicio {
	width: 25%;
	padding: 50px 38px 50px 38px;
	margin-bottom: 40px;
	color: #fff;
}

.violeta {
	background: #1c126c;
}

.celeste {
	background: #107aed;
}

.servicio h4 {
	font-size: 30px;
	margin: 0;
}

.servicio img {
	float: right;
}

.servicio p {
	font-size: 18px;
}

.contenedor-parrafo-y-boton {
	margin: 0 100px;
}


/*Contáctame*/

.contactame {
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
  background: linear-gradient(180deg, rgba(7, 8, 10, 1) 0%, rgba(7, 8, 10, 0.3799894957983193) 15%), url(fondo2.jpg);
	height: 50vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  background-attachment: fixed;
}


/*
.iconotrabajar{
  filter: invert(1);
}
*/

.Titulo2 {
	padding-bottom: 200px
}

.redes {
	display: flex;
	justify-content: center;
}

.social-icon {
	font-size: 30px !important;
}

.linkedin {
	margin: 10px
}

.facebook {
	margin: 10px
}

.instagram {
	margin: 10px
}
a.whatsapp i {
  font-size: 3.2rem!important;
  background: #26d469;
  padding: 8px 8px 9px 8px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s ease-out;
}
a.whatsapp i:hover{
  background: #1fbf5c;
}
a.whatsapp {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
@media only screen and (max-width: 1360px) {
  header{
    background-position-y: 90%;
  }
}
@media only screen and (max-width: 768px) {
	body {
		padding: 0 17px;
	}
	h1 {
		line-height: 1.2;
		font-size:55px;
	}
	h3 {
		line-height: 1.25;
		font-size: 40px;
	}
	h2 {
		margin-bottom: 20px;
	}
	.menu-fixed {
		width: 100%;
		left: 0;
		right: 0;
		background: rgb(0 0 0 / 73%);
	}
	.menu p {
		display: none;
	}
	.menu .lista {
		justify-content: center;
		padding-inline-start: 0;
	}
	.menu .lista li:last-child {
		margin-right: 0;
	}
	.menu {
		justify-content: center;
	}
	.btn {
		display: block;
		margin-top: 1.5rem;
		padding: 18px;
		text-align: center;
		font-size: 1.1rem;
		margin-left:0;
		margin-right:0;
	}
	header {
		height: 100%;
		padding-bottom: 4rem;
		background: linear-gradient(180deg, rgba(7, 8, 10, 1) 0%, rgba(7, 8, 10, 0.3799894957983193) 30%), url(fondo.jpg);
		background-size: cover;
		background-position: center;
	}
	.section {
		padding: 30px 0px;
	}
  .section .contenedor-sobremi{
    flex-direction: column-reverse!important;
  }
	.contenedor, #sobre-mi .contenedor {
		flex-direction: column!important;
	}
	.contenedor img {
		width: 100%;
	}
	.contenedor-parrafo-y-boton {
		margin: 0px 0px 50px 0px;
	}
	.servicio {
		width: 100%;
		padding:35px 0 15px 0;
		margin: 20px ​auto auto auto;
	}
	.servicio h4 {
    margin: 10px 20px;
    width: 90%;
    word-break: break-word;
    font-size: 27px;
	}
	.contenedor-servicios img {
		width: 30%;
		margin: auto;
		text-align: center;
	}
	.servicio p {
		margin: 10px 20px;
	}
	.contactame {
		padding-top: 30px;
		padding-bottom: 20px;
    background-attachment: initial;
	}
  .Titulo2.contenedor-parrafo-y-boton {
    padding-top: 150px;
  }
  a.whatsapp {
    right: 30px;
  }
}
